<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Lista de usuarios</h2>
                    <ul>
                        <li><a routerLink="/">Flexi</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Lista de usuarios</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!usuario">
    <section class="error-area">
        <div class="error-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="error-text">
                        <h1>404!</h1>
                        <p>Aún no hay usuarios.</p>
                        <span>¡No te preocupes! Trabajamos para hacer nuestra plataforma más utilizada.</span>
                        <a routerLink="/">Página principal</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="profile-area profile-area-two pt-100">
    <div class="container">
        <div class="row" *ngIf="usuario"> 
            <app-usuario-item *ngFor="let usuarioitem of usuario" [usuario]="usuarioitem" class="col-sm-6 col-lg-3"></app-usuario-item>
        </div>
    </div>
</section>