<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Contáctanos</h2>
                    <ul>
                        <li><a routerLink="/">Flexi</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Contáctanos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-form-area ptb-100">
    <div class="container-fluid">
        <form id="contactForm">
            <div class="row contact-wrap">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control" required placeholder="Tu nombre">
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" required placeholder="Tu correo electrónico">
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="phone_number" id="phone_number" required class="form-control" placeholder="Teléfono">
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="msg_subject" id="msg_subject" class="form-control" required placeholder="Propósito">
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="8" required placeholder="Descripción"></textarea>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="text-center">
                        <button type="submit" class="btn contact-btn">Enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="map-area pb-140">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99727.42415967619!2d-74.23622237980098!3d-13.163141732128676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91124e65702d7c3b%3A0xb60f62c389fec08b!2sAyacucho!5e0!3m2!1sen!2spe!4v1643078882233!5m2!1sen!2spe

    "></iframe>
</div>