<footer>
    <div class="container">
        <div class="subscribe-area">
            <div class="section-title">
                <h3>No te pierdas nuestras últimas noticias</h3>
            </div>

            <div class="subscribe-shape">
                <img src="assets/img/shape/1.png" alt="Shape">
                <img src="assets/img/shape/1.png" alt="Shape">
                <img src="assets/img/shape/1.png" alt="Shape">
                <img src="assets/img/shape/1.png" alt="Shape">
                <img src="assets/img/shape/2.png" alt="Shape">
            </div>

            <div class="subscribe-item">
                <form class="newsletter-form">
                    <input type="email" class="form-control" placeholder="Ingresa tu E-mail" name="EMAIL" required autocomplete="off">
                    <button class="btn subscribe-btn" type="submit">Suscríbete</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/FlexiLogoSF-footer.png" alt="Logo"></a>
                        <p>Recibe alertas sobre las últimas oportunidades laborales eventuales en tu área de interés.</p>
                        <ul>
                            <li><a href="https://www.youtube.com/channel/UCqK5NNZGYIklURd3ltNgZHA" target="_blank"><i class="icofont-youtube-play"></i></a></li>
                            <li><a href="https://web.facebook.com/profile.php?id=61557369780994" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/flexijob_pte/" target="_blank"><i class="icofont-instagram"></i></a></li>
                            <li><a href="https://twitter.com/FlexiJob_PTE" target="_blank"><i class="icofont-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-category">
                        <h3>Categorias</h3>

                        <ul>
                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Transporte</a></li>
                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Limpieza</a></li>
                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Eventos y Entretenimiento</a></li>
                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Cuidado y Atención</a></li>
                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Educación y Tutoría</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-category">
                        <h3>Accesos Rápidos</h3>

                        <ul>
                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Home</a></li>
                            <li><a routerLink="/about"><i class="icofont-simple-right"></i> Nosotros</a></li>
                            <li><a routerLink="/blog"><i class="icofont-simple-right"></i> Usuarios</a></li>
                            <li><a routerLink="/company-list"><i class="icofont-simple-right"></i> Trabajos</a></li>
                        <!--    <li><a routerLink="/"><i class="icofont-simple-right"></i> Compañias</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-find">
                        <h3>Encuentranos    </h3>

                        <ul>
                            <li><i class="icofont-location-pin"></i> Jr. Cuzco 1058</li>
                            <li><i class="icofont-ui-call"></i> <a>+51 917 884 688</a></li>
                            <li><i class="icofont-ui-email"></i> <a>flexi.service&#64;gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright-item">
                        <p>© 2024 FLEXI</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="copyright-item copyright-right">
                        <ul>
                            <li><a routerLink="/terms-and-conditions" >Terminos y Condiciones</a></li>
                            <li><span>-</span></li>
                            <li><a routerLink="/privacy-policy">Politicas de Privaciodad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>