<footer>
    <div class="container">
        <div class="subscribe-area">
            <div class="section-title">
                <h2>¿Quieres recibir novedades?</h2>
            </div>



            <div class="subscribe-item">
                <form class="newsletter-form">
                    <input type="email" class="form-control" placeholder="Ingresa tu correo" name="EMAIL" required autocomplete="off">
                    <button class="btn subscribe-btn" type="submit">Suscríbete</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/logo-two.png" alt="Logo"></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul>
                            <li><a target="_blank"><i class="icofont-youtube-play"></i></a></li>
                            <li><a target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a target="_blank"><i class="icofont-instagram"></i></a></li>
                            <li><a target="_blank"><i class="icofont-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-category">
                        <h3>Categorías</h3>

                        <ul>
                            <li><a><i class="icofont-simple-right"></i> Desarrollo</a></li>
                            <li><a><i class="icofont-simple-right"></i> Tecnologías</a></li>
                            <li><a><i class="icofont-simple-right"></i> Manualidades</a></li>
                            <li><a><i class="icofont-simple-right"></i> Finanzas</a></li>
                            <li><a><i class="icofont-simple-right"></i> Conexiones</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-category">
                        <h3>Enlaces extra</h3>

                        <ul>
                            <li><a><i class="icofont-simple-right"></i> Flexy</a></li>
                            <li><a><i class="icofont-simple-right"></i> Sobre nosotros</a></li>
                            <li><a><i class="icofont-simple-right"></i> Publicaciones</a></li>
                            <li><a><i class="icofont-simple-right"></i> Personas</a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-find">
                        <h3>Ubícanos</h3>

                        <ul>
                            <li><i class="icofont-location-pin"></i> Dirección</li>
                            <li><i class="icofont-ui-call"></i> <a href="">Celular</a></li>
                            <li><i class="icofont-ui-email"></i> <a href="">correo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright-item">
                        <p>© Flexy es propiedad de <a href="https://google.com/" target="_blank">nombregrupo</a></p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="copyright-item copyright-right">
                        <ul>
                            <li><a target="_blank">Términos y condiciones</a></li>
                            <li><span>-</span></li>
                            <li><a target="_blank">Políticas de privacidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>