<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Lista de trabajos</h2>
                    <ul>
                        <li><a routerLink="/">Flexi</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Lista de trabajos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="job-area job-area-two pt-70">
    <div class="container">
        <app-trabajo-lista></app-trabajo-lista>
    </div>
</section>