<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Lista de trabajos</h2>
                    <ul>
                        <li><a >Flexy</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Lista de trabajos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="job-area job-area-two pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="job-item">
                    <img src="assets/img/home-1/jobs/1.png" alt="Job">

                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>Título trabajo</h3>
                            <a>pequeña descripción o categoría</a>
                            <ul>
                                <li><i class="icofont-money-bag"></i> Pago</li>
                                <li><i class="icofont-location-pin"></i> Ubicación del trabajo</li>
                            </ul>
                        </div>

                        <div class="job-inner-right">
                            <ul>
                                <li><a>Aplicar</a></li>
                                <li><span>Detalles</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="job-item">
                    <img src="assets/img/home-1/jobs/2.png" alt="Job">

                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>Título trabajo</h3>
                            <a>pequeña descripción o categoría</a>
                            <ul>
                                <li><i class="icofont-money-bag"></i> Pago</li>
                                <li><i class="icofont-location-pin"></i> Ubicación del trabajo</li>
                            </ul>
                        </div>

                        <div class="job-inner-right">
                            <ul>
                                <li><a>Aplicar</a></li>
                                <li><span>Detalles</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="job-item">
                    <img src="assets/img/home-1/jobs/3.png" alt="Job">

                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>Título trabajo</h3>
                            <a>pequeña descripción o categoría</a>
                            <ul>
                                <li><i class="icofont-money-bag"></i> Pago</li>
                                <li><i class="icofont-location-pin"></i> Ubicación del trabajo</li>
                            </ul>
                        </div>

                        <div class="job-inner-right">
                            <ul>
                                <li><a>Aplicar</a></li>
                                <li><span>Detalles</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="job-item">
                    <img src="assets/img/home-1/jobs/4.png" alt="Job">

                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>Título trabajo</h3>
                            <a>pequeña descripción o categoría</a>
                            <ul>
                                <li><i class="icofont-money-bag"></i> Pago</li>
                                <li><i class="icofont-location-pin"></i> Ubicación del trabajo</li>
                            </ul>
                        </div>

                        <div class="job-inner-right">
                            <ul>
                                <li><a>Aplicar</a></li>
                                <li><span>Detalles</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="job-item">
                    <img src="assets/img/home-1/jobs/5.png" alt="Job">

                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>Título trabajo</h3>
                            <a>pequeña descripción o categoría</a>
                            <ul>
                                <li><i class="icofont-money-bag"></i> Pago</li>
                                <li><i class="icofont-location-pin"></i> Ubicación del trabajo</li>
                            </ul>
                        </div>

                        <div class="job-inner-right">
                            <ul>
                                <li><a>Aplicar</a></li>
                                <li><span>Detalles</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="job-item">
                    <img src="assets/img/home-1/jobs/6.png" alt="Job">

                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>Título trabajo</h3>
                            <a>pequeña descripción o categoría</a>
                            <ul>
                                <li><i class="icofont-money-bag"></i> Pago</li>
                                <li><i class="icofont-location-pin"></i> Ubicación del trabajo</li>
                            </ul>
                        </div>

                        <div class="job-inner-right">
                            <ul>
                                <li><a>Aplicar</a></li>
                                <li><span>Detalles</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="job-item">
                    <img src="assets/img/home-1/jobs/7.png" alt="Job">

                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>Título trabajo</h3>
                            <a>pequeña descripción o categoría</a>
                            <ul>
                                <li><i class="icofont-money-bag"></i> Pago</li>
                                <li><i class="icofont-location-pin"></i> Ubicación del trabajo</li>
                            </ul>
                        </div>

                        <div class="job-inner-right">
                            <ul>
                                <li><a>Aplicar</a></li>
                                <li><span>Detalles</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="job-item">
                    <img src="assets/img/home-1/jobs/8.png" alt="Job">

                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>Título trabajo</h3>
                            <a>pequeña descripción o categoría</a>
                            <ul>
                                <li><i class="icofont-money-bag"></i> Pago</li>
                                <li><i class="icofont-location-pin"></i> Ubicación del trabajo</li>
                            </ul>
                        </div>

                        <div class="job-inner-right">
                            <ul>
                                <li><a>Aplicar</a></li>
                                <li><span>Detalles</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>