<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Acceder</h2>
                    <ul>
                        <li><a routerLink="/">Flexy</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Acceder</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="login-area pt-100">
    <div class="container">
        <h2>Inicia sesión</h2>


        <form [formGroup]="loginForm ">
            <div class="form-group">
                <input type="text" formControlName="correo" class="form-control" placeholder="correo electrónico">
                    <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="text-danger">
                        <div *ngIf="correo.errors?.['required']">Correo requerido.</div>
                    </div>
            </div>

            <div class="form-group">
                <input type="password" formControlName="contrasena" class="form-control" placeholder="contraseña">
                <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)" class="text-danger">
                    <div *ngIf="contrasena.errors?.['required']">Contraseña requerida.</div>
                </div>                
            </div>
        </form>

        <div class="login-sign-in">
            <a (click)="forgotPassword()">Olvidaste la contraseña?</a>

            <ul>
                <li>No tienes una cuenta?</li>
                <li><a routerLink="/create-account">Únete aquí</a></li>
            </ul>

            <div class="text-center">
                <button type="submit" routerLink="/" (click)="login()" class="btn login-btn">Iniciar sesión</button>
            </div>
        </div>

        <div class="login-social">
            <a href="#"><i class="icofont-facebook"></i> Accede con Facebook</a>
            <a class="login-google" href="#"><i class="icofont-google-plus"></i> Accede con Google</a>
        </div>
    </div>
</div>