<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Terminos y Condiciones</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Terminos y Condiciones</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="privacy-area pt-100">
    <div class="container">
        <div class="privacy-item">
            <h2>1.¿Qué son los Términos y Condiciones?</h2>
            <p>Los Términos y Condiciones son un conjunto de reglas y acuerdos que establecen los derechos y 
                responsabilidades tanto de los usuarios como de la empresa en relación con el uso del servicio, 
                producto o plataforma proporcionados por la empresa.</p>
        </div>
        
        <div class="privacy-item">
            <h2>2.¿Cómo se aplican los Términos y Condiciones?</h2>
            <p>Aplicamos nuestros Términos y Condiciones al exigir que todos los usuarios acepten y se adhieran 
                a ellos al utilizar nuestros servicios o plataformas. Al hacer uso de cualquiera de
                estos, los usuarios están expresando su consentimiento y aceptación de nuestros Términos y
                Condiciones.</p>
        </div>

        <div class="privacy-item">
            <h2>3.¿Qué datos personales podemos usar?</h2>
            <ul>
                <li><i class="icofont-simple-right"></i> Nombre, dirección de correo electrónico y/o tu foto cuando 
                                                    visitas nuestras exposiciones y haces uso de las tecnologías 
                                                    que ofrecemos para recibir un buen GIF.</li>
                <li><i class="icofont-simple-right"></i>Datos personales obtenidos a través o generados en nuestro 
                                                    sitio web, boletines informativos y correos electrónicos comerciales.</li>
                <li><i class="icofont-simple-right"></i> Dirección IP.</li>
                <li><i class="icofont-simple-right"></i> Tu comportamiento de navegación en el sitio web, como información
                                                    sobre tu primera visita.</li>
                <li><i class="icofont-simple-right"></i> Si abres un boletín informativo o correo electrónico y qué secciones seleccionas.</li>
            </ul>
        </div>
    </div>
</section>