<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Politica de Privacidad</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Politica de Privacidad</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="privacy-area pt-100">
    <div class="container">
        <div class="privacy-item">
            <h2>1.Politica de Privacidad</h2>
            <p>Gracias por visitar nuestro portal de empleo de trabajos eventuales FLEXI. 
                En FLEXI nos comprometemos a proteger tus datos personales. A continuación, 
                te presentamos nuestra Política de Privacidad que se aplica al tratamiento 
                de tus datos personales.</p>
        </div>
        
        <div class="privacy-item">
            <h2>2.Autorización para el Almacenamiento y Tratamiento de Datos</h2>
            <p>Al registrar tu información en nuestro portal, nos autorizas indefinidamente 
                para que almacenemos tus datos personales, como nombre, apellidos, teléfono, 
                correo electrónico, fecha de nacimiento, entre otros, en nuestra base de 
                datos. También nos autorizas para procesar tu información, ya sea directamente
                o a través de terceros, con el fin de contactarte y enviarte información
                sobre oportunidades laborales de FLEXI. FLEXI no vende, cede ni comparte tus 
                datos personales con terceros.</p><br>

            <p>En nuestro portal, podemos recibir datos personales de contacto de menores de 
                edad entre 14 y 18 años para proporcionarles más información sobre oportunidades 
                laborales. Si eres menor de 14 años, necesitarás la autorización de tus padres 
                para registrarte en nuestro portal. Por lo tanto, deberás proporcionarnos los 
                datos de contacto de tus padres o tutores para obtener su consentimiento.
                En caso de negativa, no podremos realizar esta labor.</p><br>

            <p>Tu autorización es necesaria para que podamos llevar a cabo estas actividades 
                de prospección. En caso de negativa, no podremos realizar esta labor.</p><br>

        </div>

        <div class="privacy-item">
            <h2>3.Tratamiento de Datos por FLEXI y Otras Empresas</h2>
            <p>La información mencionada anteriormente puede ser tratada por FLEXI o por otras
                empresas de nuestro grupo empresarial para contactarte e informarte sobre
                oportunidades laborales. Garantizamos la seguridad y confidencialidad 
                de tu información en estos casos.</p><br>

            <p>Los datos recibidos se agregarán a nuestra base de datos, la cual es propiedad 
                de FLEXI. Tu información será tratada de manera confidencial y respetando las 
                garantías establecidas por la Ley de Protección de Datos Personales y su 
                reglamento. Hemos implementado medidas técnicas y organizativas necesarias 
                para proteger tus datos personales contra pérdidas, mal uso, alteraciones,  
                accesos no autorizados y robos.</p><br>

            <p>FLEXI puede utilizar cookies para futuros contactos con las personas que han accedido a nuestro portal.  
                Las cookies son pequeños archivos de texto que se almacenan en tu navegador cuando visitas un sitio web. 
                Las cookies se utilizan para recordar tus preferencias y mejorar tu experiencia de navegación. 
                Puedes configurar tu navegador para que no acepte cookies, pero esto puede limitar tu experiencia de navegación.</p><br>
        </div>

        <div class="privacy-item">
            <h2>4. Derechos del Usuario</h2>
            <p>Si deseas revocar tu autorización o ejercer alguno de tus derechos reconocidos 
                en la Ley de Protección de Datos Personales, puedes comunicarte de forma 
                gratuita a través del correo electrónico flexi.service&#64;gmail.com</p><br>

        </div>
    </div>
</section>